# German Credit dataset

## Contents

4. ? Build a simple baseline model
4. Prepare the data to better expose the underlying patterns to machine learning algorithm (incl feature engineering)
5. Explore many modesl; Select a model and train it
6. Fine-tune the model
7. Present your solution
8. Deploy, monitor and maintain your system

In [1]:
# Imports
import numpy as np
import pandas as pd

/tmp/ipykernel_230207/2782411734.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Get the (user-friendly) data for a baseline model
df = pd.read_csv('data/user_friendly_cats.csv')
df.tail(5)

,tenure,amount,rate,residence,age,credits,maintenance,history,savings,employment,...,status,purpose,guarantor,installments,housing,telephone,foreign,sex,personal,label
995,12,1736,3,4,31,1,1,so far so good,"[0, 100)","[4, 7)",...,no account,furniture,none,none,ownership,none,True,female,female divorced/separated/married,0
996,30,3857,4,4,40,1,1,so far so good,"[0, 100)","[1, 4)",...,overdrawn,used car,none,none,ownership,yes,True,male,male divorced/separated,0
997,12,804,4,4,38,1,1,so far so good,"[0, 100)","[7, inf)",...,no account,television,none,none,ownership,none,True,male,male single,0
998,45,1845,4,4,23,1,1,so far so good,"[0, 100)","[1, 4)",...,overdrawn,television,none,none,without payment,yes,True,male,male single,1
999,45,4576,3,4,27,1,1,critical,"[100, 500)",unemployed,...,petty,used car,none,none,ownership,none,True,male,male single,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tenure        1000 non-null   int64
 1   amount        1000 non-null   int64
 2   rate          1000 non-null   int64
 3   residence     1000 non-null   int64
 4   age           1000 non-null   int64
 5   credits       1000 non-null   int64
 6   maintenance   1000 non-null   int64
 7   history       1000 non-null   object
 8   savings       1000 non-null   object
 9   employment    1000 non-null   object
 10  property      1000 non-null   object
 11  job           1000 non-null   object
 12  status        1000 non-null   object
 13  purpose       1000 non-null   object
 14  guarantor     1000 non-null   object
 15  installments  1000 non-null   object
 16  housing       1000 non-null   object
 17  telephone     1000 non-null   object
 18  foreign       1000 non-null   bool
 19  sex           1000 non-null   object
 20  personal      1000 non-null   object
 21  label         1000 non-null   int64
dtypes: bool(1), int64(8), object(13)
memory usage: 165.2+ KB

In [ ]:
cols = ['status', 'history', 'savings', 'label']

lookup = df[cols].groupby(cols[:-1]).mean().reset_index()
lookup['label'].fillna(value=df['label'].mean(), inplace=True)
threshold = 0.31
lookup['label'] = (lookup['label'] >= threshold).astype(int)
lookup